---
title: New Title
author: "Mauricio"
---
<%# Navbar %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1673332747/Super%20Tortas%20Tampico/logo_sst_iqs7ys.png" alt="super-tortas-tampico-logo" id="stt-logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ubicacion</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%# Carrousel %>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1654879922/189365924_1765770280282053_4322459222038471714_n_zgsqfn.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1667166562/Super%20Tortas%20Tampico/204580566_1790206947838386_3193214757967590138_n_evjt2o.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1667166561/Super%20Tortas%20Tampico/201588238_1791924677666613_2241464353369923472_n_ai6uvj.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1667166561/Super%20Tortas%20Tampico/201122847_1784586071733807_1087565296552609943_n_ssih3x.jpg" class="d-block" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<%# Body %>
<div>
  <div class="Menu">
    <h1>Menu</h1>
  </div>

  <div>
    <h1>Location</h1>
  </div>

</div>
